 .u-section-1 {
  min-height: 109px;
}

.u-section-1 .u-image-1 {
  width: 549px;
  left: 346px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    left: 246px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    left: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    left: 50px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 541px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-weight: 400;
  margin: 15px auto 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 21px;
  margin-bottom: 40px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 17.25px));
  min-height: 437px;
  grid-gap: 23px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/Instant-Pot-Wild-Rice-Soup-3.jpg");
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  --radius: 1px;
  text-transform: uppercase;
  background-image: none;
  margin: 407px auto -39px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/Chicken-Wontons-1-4.jpg");
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-btn-2 {
  font-size: 1rem;
  letter-spacing: 0px;
  --radius: 1px;
  text-transform: uppercase;
  background-image: none;
  font-family: Poppins;
  margin: 407px auto -39px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/Greek-Baked-Orzo-1.jpg");
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-btn-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  --radius: 1px;
  text-transform: uppercase;
  background-image: none;
  font-family: Poppins;
  margin: 407px auto -39px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/cropped-Cashew-Crunch-Salad-3.jpg");
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-btn-4 {
  font-size: 1rem;
  letter-spacing: 0px;
  --radius: 1px;
  text-transform: uppercase;
  background-image: none;
  font-family: Poppins;
  margin: 407px auto -39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 355px;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1159px;
    grid-template-columns: repeat(2, calc(50% - 11.5px));
  }

  .u-custom-font .u-text .u-text-4{
    display: none;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-custom-font .u-text .u-text-4{
  display: none;
}


.u-section-3 .u-sheet-1 {
  min-height: 210px;
}

.u-section-3 .u-list-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  min-height: 208px;
  row-gap: 10px;
  column-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-3 .u-image-1 {
  width: 118px;
  height: 118px;
  margin: 7px auto 0;
}

.u-section-3 .u-btn-1 {
  font-family: Poppins;
  text-decoration: none;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-2 {
  padding: 21px 0;
}

.u-section-3 .u-image-2 {
  width: 118px;
  height: 118px;
  margin: 7px auto 0;
}

.u-section-3 .u-btn-2 {
  font-family: Poppins;
  text-decoration: none;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-3 {
  padding: 21px 0;
}

.u-section-3 .u-image-3 {
  width: 118px;
  height: 118px;
  margin: 7px auto 0;
}

.u-section-3 .u-btn-3 {
  font-family: Poppins;
  text-decoration: none;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-4 {
  padding: 21px 0;
}

.u-section-3 .u-image-4 {
  width: 118px;
  height: 118px;
  margin: 7px auto 0;
}

.u-section-3 .u-btn-4 {
  font-family: Poppins;
  text-decoration: none;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-5 {
  padding: 21px 0;
}

.u-section-3 .u-image-5 {
  width: 118px;
  height: 118px;
  margin: 7px auto 0;
}

.u-section-3 .u-btn-5 {
  font-family: Poppins;
  text-decoration: none;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  --radius: 50px;
}

.u-section-3 .u-container-layout-6 {
  padding: 21px 0;
}

.u-section-3 .u-image-6 {
  width: 118px;
  height: 118px;
  margin: 7px auto 0;
}

.u-section-3 .u-btn-6 {
  font-family: Poppins;
  text-decoration: none;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(7, calc(14.2857% - 8.57143px));
    min-height: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 527px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 4.999998px));
    min-height: 889px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 219px;
}

.u-section-4 .u-text-1 {
  font-family: Aboreto;
  margin: 48px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 57px;
  grid-template-columns: repeat(6, auto);
  width: 1057px;
  grid-gap: 9px;
  margin: 35px auto 55px 28px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  grid-gap: 0px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-line-1 {
  width: 1067px;
  top: 219px;
  position: absolute;
  transform-origin: left center;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-4 .u-gallery-1 {
    height: 50px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-4 .u-gallery-1 {
    grid-template-columns: repeat(3, auto);
    height: 38px;
    width: 720px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-4 .u-gallery-1 {
    grid-template-columns: repeat(2, auto);
    height: 29px;
    width: 540px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-4 .u-gallery-1 {
    grid-template-columns: repeat(1, auto);
    height: 18px;
    width: 340px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 747px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 1px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 633px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 2.25rem;
  font-family: Aboreto;
  font-weight: 700;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 67px auto 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-family: Poppins;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 633px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-5 .u-image-1 {
  height: 580px;
  margin-top: 22px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 522px;
  }

  .u-section-5 .u-image-1 {
    height: 478px;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 366px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-image-1 {
    height: 549px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    height: 346px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 226px;
}

.u-section-6 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 188px;
  row-gap: 10px;
  column-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  font-family: Aboreto;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-2 {
  font-family: Poppins;
  margin: 0 30px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  font-family: Aboreto;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-4 {
  font-family: Poppins;
  margin: 0 30px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  font-family: Aboreto;
  margin: 20px 30px 0;
}

.u-section-6 .u-text-6 {
  font-family: Poppins;
  margin: 0 30px;
}

.u-section-6 .u-line-1 {
  transform-origin: left center;
  width: 936px;
  margin: 26px auto 10px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333% - 6.66667px));
    min-height: 155px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 356px;
  }

  .u-section-6 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-line-1 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 13px;
}.u-section-8 .u-sheet-1 {
  min-height: 22px;
}.u-section-9 .u-sheet-1 {
  min-height: 625px;
}

.u-section-9 .u-list-1 {
  width: 906px;
  grid-template-rows: repeat(3, auto);
  margin: -31px auto 36px 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  row-gap: 10px;
  column-gap: 10px;
  min-height: 620px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 30px 11px;
}

.u-section-9 .u-text-1 {
  font-family: Aboreto;
  margin: 20px 342px 0 auto;
}

.u-section-9 .u-image-1 {
  width: 292px;
  height: 292px;
  margin: -25px 563px 0 0;
}

.u-section-9 .u-text-2 {
  font-family: Aboreto;
  margin: -226px 46px 0 325px;
}

.u-section-9 .u-text-3 {
  font-size: 0.875rem;
  margin: 22px 46px 0 325px;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  text-decoration: underline !important;
  margin: 46px 370px 0 324px;
  padding: 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 30px 11px;
}

.u-section-9 .u-text-4 {
  font-family: Aboreto;
  margin: 20px 342px 0 auto;
}

.u-section-9 .u-image-2 {
  width: 292px;
  height: 292px;
  margin: -25px 563px 0 0;
}

.u-section-9 .u-text-5 {
  font-family: Aboreto;
  margin: -226px 46px 0 325px;
}

.u-section-9 .u-text-6 {
  font-size: 0.875rem;
  margin: 22px 46px 0 325px;
}

.u-section-9 .u-btn-2 {
  font-size: 0.875rem;
  text-decoration: underline !important;
  margin: 46px 370px 0 324px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-list-1 {
    height: auto;
  }

  .u-section-9 .u-image-1 {
    margin-right: 554px;
  }

  .u-section-9 .u-btn-1 {
    border-style: solid;
  }

  .u-section-9 .u-text-4 {
    margin-top: -56px;
  }

  .u-section-9 .u-image-2 {
    margin-right: 554px;
  }

  .u-section-9 .u-btn-2 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-9 .u-list-1 {
    width: 720px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 267px;
  }

  .u-section-9 .u-image-1 {
    margin-right: 368px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-left: 185px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 185px;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 277px;
    margin-left: 231px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 267px;
  }

  .u-section-9 .u-image-2 {
    margin-right: 368px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 0;
    margin-left: 185px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
    margin-left: 185px;
  }

  .u-section-9 .u-btn-2 {
    margin-right: 277px;
    margin-left: 231px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 210px;
  }

  .u-section-9 .u-image-1 {
    margin-right: 228px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 45px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 45px;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 207px;
    margin-left: 161px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 210px;
  }

  .u-section-9 .u-image-2 {
    width: 231px;
    margin-right: 228px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 45px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 45px;
  }

  .u-section-9 .u-btn-2 {
    margin-right: 207px;
    margin-left: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-9 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 129px;
  }

  .u-section-9 .u-image-1 {
    margin-right: 28px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 107px;
    margin-left: 61px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 20px;
  }

  .u-section-9 .u-text-4 {
    margin-top: -183px;
    margin-right: 129px;
  }

  .u-section-9 .u-image-2 {
    width: 292px;
    height: 165px;
    margin-top: 102px;
    margin-right: 131px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
  }

  .u-section-9 .u-text-6 {
    margin-left: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-right: 107px;
    margin-left: 61px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 618px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 26px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 598px;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-10 .u-text-1 {
  font-family: Aboreto;
  margin: 84px auto 0;
}

.u-section-10 .u-image-1 {
  width: 300px;
  height: 90px;
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  font-size: 1.25rem;
  width: 283px;
  margin: 16px auto 0;
}

.u-section-10 .u-btn-1 {
  letter-spacing: 0px;
  border-style: solid;
  margin: 28px auto 0;
}

.u-section-10 .u-image-2 {
  min-height: 598px;
  background-image: url("images/unnamed-1.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-2 {
  padding: 0;
}

.u-section-10 .u-image-3 {
  min-height: 598px;
  background-image: url("images/unnamed.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-10 .u-image-1 {
    height: 91px;
  }

  .u-section-10 .u-text-2 {
    width: 313px;
  }

  .u-section-10 .u-image-2 {
    min-height: 493px;
  }

  .u-section-10 .u-image-3 {
    min-height: 493px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-image-1 {
    width: 248px;
    height: 75px;
  }

  .u-section-10 .u-text-2 {
    width: 240px;
  }

  .u-section-10 .u-image-2 {
    min-height: 378px;
  }

  .u-section-10 .u-image-3 {
    min-height: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-10 .u-image-2 {
    min-height: 842px;
  }

  .u-section-10 .u-image-3 {
    min-height: 842px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1223px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-10 .u-image-2 {
    min-height: 530px;
  }

  .u-section-10 .u-image-3 {
    min-height: 530px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 811px;
}

.u-section-11 .u-text-1 {
  font-family: Aboreto;
  margin: 29px auto 0;
}

.u-section-11 .u-gallery-1 {
  height: 1007px;
  width: 896px;
  row-gap: 17px;
  column-gap: 17px;
  margin: 60px auto;
}

.u-section-11 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 29px;
}

.u-section-11 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-11 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-gallery-1 {
    grid-gap: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1827px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 0;
  }

  .u-section-11 .u-gallery-1 {
    width: 720px;
    height: 2023px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 5266px;
  }

  .u-section-11 .u-gallery-1 {
    width: 540px;
    height: 5462px;
  }

  .u-section-11 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 3243px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-11 .u-gallery-1 {
    width: 340px;
    margin-top: 241px;
    height: 3439px;
  }
}